#ornamen {
  &.home {
    .donatRed,
    .doublePie,
    .rectanglePink,
    .squareBlue,
    .donatGreen {
      opacity: 0;
    }

    .donatRed,
    .doublePie {
      left: -10vw;
    }

    .rectanglePink {
      bottom: -10vh;
    }

    .squareBlue,
    .donatGreen {
      right: -10vw;
    }

    .donatGreen {
      bottom: -10vw;
    }
  }

  .donatRed,
  .doublePie,
  .rectanglePink,
  .squareBlue,
  .donatGreen {
    position: fixed;
    display: inline-block;
    z-index: 2;
    transition: all 0.3s ease;

    @include media("<large") {
      z-index: 1;
    }
  }

  .donatRed {
    top: 12vh;
    left: -2vw;

    @include media ("<=large") {
      top: 18%;
      width: 4rem;
    }

    @include media("<medium") {
      top: 45vh;
      left: -12vw;
      width: 6rem;
    }
  }

  .doublePie {
    bottom: 10vh;
    left: -3%;

    @include media("<medium") {
      bottom: 3vh;
      left: -15%;
    }
  }

  .rectanglePink {
    bottom: 0;
    left: 25vw;

    @include media("<medium") {
      display: none;
    }
  }

  .squareBlue {
    top: 12vh;
    right: 0;

    @include media ("<=large") {
      width: 4rem;
    }

    @include media ("<medium") {
      width: 3rem;
    }
  }

  .donatGreen {
    bottom: 10vh;
    right: -2%;

    @include media ("<medium") {
      bottom: 40vh;
      right: -12%;
      width: 6rem;
    }
  }
}