#page-wof-carnival {
  position: relative;
  height: auto;
  padding: 0;
  margin: auto;
  z-index: 1;
  background-color: #000;
  color: #FFF;

  .mt-3 {
    margin-top: 3rem !important;
  }

  .mb-3 {
    margin-bottom: 3rem !important;
  }

  .wof-content {
    height: 100vh;
    overflow: hidden;

    @include media ("<medium") {
      height: auto;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .content-top {
    .row {
      min-height: 100vh !important;

      @include media ("<medium") {
        min-height: 0;
      }
    }

    .wheel-background {
      background: url('~/img/wheel/wof-carnival-background-min.png') center no-repeat;
      background-size: 100%;
      width: 100%;
      height: 0;
      padding-bottom: 89.58333333333334%;
      overflow: hidden;

      .wheel-pie,
      .wheel-glow,
      .wheel-arrow,
      .wheel-ornament {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95%;
        width: 100%;
        height: 0;
        padding-bottom: 89.58333333333334%;
        margin: -0.8rem;

        .ua-safari &,
        .ua-ios & {
          margin: 0rem -0.8rem;
        }
      }

      .wheel-pie {
        background-image: url('~/img/wheel/wof-carnival-pie-min.png');
        z-index: 2;
        overflow: hidden;
      }

      .wheel-glow {
        background-image: url('~/img/wheel/pie-glow.png');
        z-index: 5;
        background-size: 28%;
        padding-bottom: 63%;
        width: 99%;
        overflow: hidden;
      }

      .wheel-arrow {
        background-image: url('~/img/wheel/wof-carnival-arrow-min.png');
        margin-top: -2rem;
        background-size: 15%;
        z-index: 15;
      }

      .wheel-ornament {
        background-image: url('~/img/wheel/wof-carnival-ornament-min.png');
        z-index: 10;
      }
    }

    .misteraladin-logo {
      width: 50%;
    }

    .travel-fair-logo {
      width: 80%;
    }

    p {
      margin: 2rem 0;
      font-size: 2.5rem;

      @include media ("<medium") {
        padding: 0 1rem;
        font-size: 1rem;
      }
    }

    .btn-wrapper {
      width: 17rem;
      margin: auto;

      .btn-play {
        position: relative;
        z-index: 4;
        -webkit-box-shadow: #2D46A1 20px 25px 5px inset;
        -moz-box-shadow: #2D46A1 20px 25px 5px inset;
        box-shadow: #2D46A1 20px 25px 5px inset;
        background-color: #3653BD;
        padding: 1rem 2rem;
        border-radius: 3rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold;
        color: white;

        &.disabled {
          background-color: #888;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

        @include media ("<medium") {
          font-size: 1.25rem;
        }
      }
    }

    @media (max-width: 480px) {
      text-align: center;

      .misteraladin-logo,
      .travel-fair-logo {
        width: 65%;
      }
    }
  }

  .prize-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 20;

    .prize-close {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 8rem;
      width: 8rem;
      z-index: 10;
    }
  }

  .prize-wrapper {
    background: center no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    height: 458px;
    width: 841px;
    z-index: 30;

    &.hotel {
      background-image: url('~/img/prize/hotel.png');
    }

    &.train {
      background-image: url('~/img/prize/train.png');
    }

    &.flight-dom {
      background-image: url('~/img/prize/flight-dom.png');
    }

    &.flight-int {
      background-image: url('~/img/prize/flight-int.png');
    }

    &.activity {
      background-image: url('~/img/prize/activity.png');
    }

    @include media ("<=770px") {
      top: 50%;
      width: 65%;
      height: 75%;
      background-size: 100% auto;

      &.hotel {
        background-image: url('~/img/prize/hotel-mobile.png');
      }

      &.train {
        background-image: url('~/img/prize/train-mobile.png');
      }

      &.flight-dom {
        background-image: url('~/img/prize/flight-dom-mobile.png');
      }

      &.flight-int {
        background-image: url('~/img/prize/flight-int-mobile.png');
      }

      &.activity {
        background-image: url('~/img/prize/activity-mobile.png');
      }
    }

    @include media ("<=420px") {
      width: 100%;
      height: 90%;
    }
  }

  .prize-content {
    position: absolute;
    top: 22.5%;
    left: 15%;
    display: inline-block;
    width: 40%;

    .desc {
      h3 {
        color: #fa5b0f;
      }

      p {
      }
    }

    .voucher {
      width: 200px;
      margin-bottom: 2rem;

      .title {
        color: #fa5b0f;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
      }

      .text {
        background: white;
        padding: 0.25rem 0.5rem;
        color: black;
        font-size: 1.25rem;
        letter-spacing: 0.075em;
        text-align: center;
      }
    }

    a {
      box-shadow: #ec592b 10px 18px 5px inset;
      background-color: #e8432b;
      border-radius: 2rem;
      color:white;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      cursor: pointer;

      &:after {
        content: '\00bb';
        position: relative;
        top: 0.125rem;
        margin-left: 0.5rem;
        line-height: 1;
        font-size: 1.5rem;
      }
    }

    @include media ("<=770px") {
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 70%;
      text-align: center;

      .voucher {
        width: 200px;
        margin: auto;
        margin-bottom: 1.5rem;
      }
    }

    @include media ("<=420px") {
      padding: 0 4rem;
      width: 100%;
      top: 52%;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.75rem;
      }

      .voucher {
        margin-bottom: 0.5rem;

        .title {
          margin-bottom: 0;
        }

        .text {
          font-size: 1rem;
          padding: 0.15rem 0.5rem;
        }
      }

      a {
        padding: 0.5rem 1.5rem;
        font-size: 0.75rem;
      }
    }

    @include media ("<=320px") {
      padding: 0 3rem;

      h3 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.6rem;
      }

      .voucher {
        margin-bottom: 0.5rem;

        .title {
          font-size: 0.5rem;
        }

        .tetx {
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  #ornamen {
    .donatRed,
    .doublePie,
    .rectanglePink,
    .squareBlue,
    .donatGreen {
      position: fixed;
      display: inline-block;
      z-index: 2;
      transition: all 0.3s ease;

      @include media("<large") {
        z-index: 1;
      }
    }

    .donatRed {
      top: 12vh;
      left: -2vw;

      @include media ("<=large") {
        top: 18%;
        width: 4rem;
      }

      @include media("<medium") {
        top: 45vh;
        left: -12vw;
        width: 6rem;
      }
    }

    .doublePie {
      bottom: 10vh;
      left: -3%;

      @include media("<medium") {
        bottom: 3vh;
        left: -15%;
      }
    }

    .rectanglePink {
      bottom: 0;
      left: 25vw;

      @include media("<medium") {
        display: none;
      }
    }

    .squareBlue {
      top: 12vh;
      right: 0;

      @include media ("<=large") {
        width: 4rem;
      }

      @include media ("<medium") {
        width: 3rem;
      }
    }

    .donatGreen {
      bottom: 10vh;
      right: -2%;

      @include media ("<medium") {
        bottom: 40vh;
        right: -12%;
        width: 6rem;
      }
    }
  }
}
