<template>
  <div id="page-wof-carnival" class="wof-content">
    <ornamen v-if="!isMobile"/>

    <section class="content-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 mt-3">
            <div class="text-center">
              <img class="misteraladin-logo" src="/img/travel-fair-logo-all.svg" alt="Mister Aladin">
            </div>

            <div class="wheel-background">
              <div class="wheel-pie" ref="animation"></div>
              <div class="wheel-glow" ref="glow" v-show="isGlow"></div>
              <div class="wheel-arrow"></div>
              <div class="wheel-ornament"></div>
            </div>
          </div>

          <div class="col-12 mb-3 text-center">
            <p>
              Apakah ini hari keberuntunganmu? <br/>
              Putar rodanya dan dapetin hadiah menarik!
            </p>

            <div class="btn-wrapper">
              <button class="btn btn-block btn-play"
                :class="{'disabled': isPlay }"
                :disabled="isPlay"
                @click="play"
                > Putar
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <transition name="fade">
      <prize
        v-if="modal.show"
        :type="modal"
        :prize="prize"
        @close="modal.show = false"
      />
    </transition>
  </div>
</template>

<script>
// COMPONENT
import Prize from './Prize.vue';
import Ornamen from './Ornamen';

export default {
  data() {
    return {
      wof: null,
      glow: null,

      anime: {
        degree: 360 * 16,
        duration: 6000,
      },

      modal: {
        show: false,
        product: 'hotel',
        text: 'hotel',
      },

      prize: {},

      isPlay: false,
      isMobile: false,
      isGlow: false,
    };
  },

  components: {
    Prize,
    Ornamen,
  },

  methods: {
    initWheel() {
      this.wof = this.$anime({
        targets: this.$refs.animation,
        rotate: this.anime.degree,
        duration: this.anime.duration,
        easing: 'easeInOutQuint',
        autoplay: false,
      });

      this.wof.finished.then(this.showPrize);
    },

    initGlow() {
      this.glow = this.$anime({
        targets: this.$refs.glow,
        duration: 500,
        loop: true,
        easing: 'easeInOutQuint',
        autoplay: true,
        opacity: 0,
      });
    },

    showPrize() {
      this.isGlow = true;
      this.initGlow();

      setTimeout(() => {
        this.modal.show = true;
      }, 2000);
    },

    getPrizeType() {
      const type = Math.floor(Math.random() * 5);

      let product = 'hotel';
      let position = 0;
      let text = 'hotel';

      switch (type) {
        case 1:
          position = 0;
          product = 'hotel';
          text = 'hotel';
          break;
        case 2:
          product = 'activity';
          text = 'Activity';
          position = 1;
          break;
        case 3:
          product = 'flight-dom';
          position = 2;
          text = 'rute tiket pesawat';
          break;
        case 4:
          product = 'flight-int';
          position = 3;
          text = 'rute tiket pesawat internasional';
          break;
        case 5:
          product = 'train';
          position = 4;
          text = 'rute tiket kereta';
          break;
        default:
          product = 'hotel';
          text = 'hotel';
          position = 0;
      }

      this.anime.degree += (position * 72);
      this.modal.product = product;
      this.modal.text = text;
    },

    async play() {
      this.isPlay = true;

      await this.getPrizeType()
      await this.initWheel();
      await this.wof.play();
    },

    checkMobile() {
      if( navigator.userAgent.match(/Android/i)
        || navigator.userAgent.match(/webOS/i)
        || navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)
        || navigator.userAgent.match(/BlackBerry/i)
        || navigator.userAgent.match(/Windows Phone/i)
      ){
        return true;
      }
      else {
        return false;
      }
    },
  },

  created() {
    this.isMobile = this.checkMobile();
  },
}
</script>

