<template>
  <span id="ornamen">
    <img src="/img/ornamen/donatRed.svg"
      class="donatRed"
      ref="donatRed"
      @mouseover="donatRed.play()">

    <img src="/img/ornamen/doublePie.svg"
      class="doublePie"
      ref="doublePie"
      @mouseover="doublePie.play()">

    <img src="/img/ornamen/RectanglePink.svg"
      class="rectanglePink"
      ref="rectanglePink"
      @mouseover="rectanglePink.play()">

    <img src="/img/ornamen/square.svg"
      class="squareBlue"
      ref="squareBlue"
      @mouseover="squareBlue.play()">

    <img src="/img/ornamen/donatGreen.svg"
      class="donatGreen"
      ref="donatGreen"
      @mouseover="donatGreen.play()">
  </span>
</template>

<script>

export default {
  data() {
    return {
      donatRed: null,
      doublePie: null,
      donatGreen: null,
      rectanglePink: null,
      squareBlue: null,
    };
  },

  methods: {
    init() {
      this.initsquareBlue();
      this.initDonatRed();
      this.initDoublePie();
      this.initDonatGreen();
      this.initRectanglePink();
    },

    initDonatRed() {
      this.donatRed = this.$anime({
        targets: this.$refs.donatRed,
        right: ['-6rem', 0],
        rotate: 360,
        scale: [0.6, 1.2],
        duration: 2000,
        autoplay: false,
        direction: 'alternate',
      });
    },

    initDoublePie() {
      this.doublePie = this.$anime({
        targets: this.$refs.doublePie,
        right: ['-6rem', 0],
        rotate: 360,
        scale: [0.6, 1.2],
        duration: 2000,
        autoplay: false,
        direction: 'alternate',
      });
    },

    initDonatGreen() {
      this.donatGreen = this.$anime({
        targets: this.$refs.donatGreen,
        scale: [0.6, 1.2],
        duration: 2000,
        autoplay: false,
        direction: 'alternate',
      });
    },

    initRectanglePink() {
      this.rectanglePink = this.$anime({
        targets: this.$refs.rectanglePink,
        translateX: ['35vw', 0],
        duration: 1000,
        autoplay: false,
        direction: 'alternate',
        easing: 'easeOutElastic',
      });
    },

    initsquareBlue() {
      this.squareBlue = this.$anime({
        targets: this.$refs.squareBlue,
        right: [0, '-6rem', 0],
        rotate: 360,
        scale: [0.6, 1.2, 1],
        duration: 2000,
        autoplay: false,
        direction: 'alternate',
      });
    },
  },

  mounted() {
    this.init();
  },
};
</script>
