<template>
  <div class="prize-overlay">
    <div class="prize-wrapper" :class="type.product">
      <div class="prize-content">
        <div class="desc">
          <h3>HORE!</h3>
          <p>{{ generateDesc }}</p>
        </div>

        <div class="voucher">
          <div class="title">
            Kode Voucher
          </div>
          <div class="text">
            {{ randomCode(7) }}
          </div>
        </div>

        <a class="home-button" :href="redirect">HOME</a>
      </div>

      <div class="prize-close" @click="close"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: Object,
      required: false,
    },
  },

  computed: {
    generateDesc() {
      return `Kamu dapat diskon Rp. 250,000,- untuk semua ${this.type.text} di Mister Aladin. Cek email untuk syarat & ketentuan voucher.`;
    },

    redirect() {
      return 'https://www.misteraladin.com/';
    },
  },

  methods: {
    randomCode(length) {
      let result           = '';
      const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      const charactersLength = characters.length;
      for ( let i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
    },

    close() {
      this.$emit('close', false);
    },
  },
}
</script>
