<template>
  <div id="app">
    <wof/>
  </div>
</template>

<script>
import Wof from './components/wof/Index.vue'

export default {
  name: 'app',
  components: {
    Wof
  },
}
</script>

<style lang="scss">
  @import '@/assets/scss/style';
</style>
